nxpvee-mimxrt595-evk-round-fp/lib/
nxpvee-mimxrt595-evk-round-configuration/target~/
nxpvee-mimxrt595-evk-round-configuration/dropins/include/
nxpvee-mimxrt595-evk-round-configuration/dropins/javaLibs/
nxpvee-mimxrt595-evk-round-configuration/dropins/mocks/
nxpvee-mimxrt595-evk-round-configuration/dropins/scripts/
nxpvee-mimxrt595-evk-round-configuration/dropins/tools/license-checker.jar
nxpvee-mimxrt595-evk-round-configuration/dropins/tools/imagegenerator-vectorimage.jar
nxpvee-mimxrt595-evk-round-configuration/dropins/resources/os/
nxpvee-mimxrt595-evk-round-configuration/dropins/workbenchExtension_*
nxpvee-mimxrt595-evk-round-bsp/projects/microej/platform/
MIMXRT595-*-CM4hardfp_GCC48-*
nxpvee-mimxrt595-evk-round-imageGenerator/bin/
nxpvee-mimxrt595-evk-round-configuration/dropins/scripts/init-microvg/microvginit.xml
nxpvee-mimxrt595-evk-round-bsp/projects/microej/vglite_patch/

nxpvee-mimxrt595-evk-round-apps/launchers/*.properties

# ctags files
tags
TAGS

# cscope files
cscope.*
ncscope.*

# vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

/.metadata
/.sonarlint
*~
.java*
.*.java.app
javasec.prop

*.launch
CMakeCache.txt
.ninja_log
.ninja_deps
build.ninja
rules.ninja
nxpvee-mimxrt595-evk-round-bsp/projects/nxpvee-ui/armgcc/tree_version.c
nxpvee-mimxrt595-evk-round-bsp/mcux-sdk
nxpvee-mimxrt595-evk-round-bsp/projects/nxpvee-ui/armgcc/debug
